<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Base Page of Fragments</title>
    <div th:fragment="header">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!--Bootstrap CSS-->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Belgrano|Flamenco&display=swap" rel="stylesheet">
        <!--        @import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');-->

        <!--My CSS-->
        <link rel="stylesheet" type="text/css" href="css/myStyle.css">
    </div>
</head>
<body>
<div th:fragment="navbar" style="background-color: slategray">
    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="nav-item" id="firstItem">
                    <a class="nav-link active" style="color: whitesmoke" href="/">Home</a>
                </li>
            </ul>
        </div><hr/>
        <div class="col" align="center">
            <form th:action="@{/processsearch}" method="post">
                <input type="text" placeholder="Job Title" name="search">
<!--                <input class="button" type="submit" onclick="confirmation()" value="Submit">-->
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<!--    <ul class="nav">-->
<!--        <li class="nav-item" id="firstItem">-->
<!--            <a class="nav-link active" style="color: whitesmoke" href="/">Home</a>-->
<!--        </li>-->
<!--        &lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--        &lt;!&ndash;            <a class="nav-link" href="/aboutbootcamp">About the Bootcamp</a>&ndash;&gt;-->
<!--        &lt;!&ndash;        </li>&ndash;&gt;-->
<!--        &lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--        &lt;!&ndash;            <a class="nav-link" href="/aboutauthor">Blog Author</a>&ndash;&gt;-->
<!--        &lt;!&ndash;        </li>&ndash;&gt;-->
<!--    </ul>-->



<!--<form th:action="@{/processsearch}" method="post">-->
<!--    <input type="text" placeholder="Search.." name="search">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->

<div class="container" th:fragment="footnote">
    <footer>
        <center>
            <div class="footer-main-div" style="alignment: center">
                <p style="color:greenyellow; ">&copy; Copyright 2019 John Anderjaska.</p>
            </div>
        </center>
    </footer>
    </footer>
</div>

</body>
</html>