<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jobs Center</title>
    <div th:insert="base::header"></div>
    <style>
        .button {
            /*background-color: #4CAF50;*/
            background-color: steelblue;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body style="background-color: seagreen">
<!-- Navigation bar-->
<div th:insert="base :: navbar"></div>

<br>
<div class="container" style="background-color: lightgoldenrodyellow">
    <center><h3>Job details</h3></center>
</div>

<div class="container" style="background-color: azure">
<br>
    <table align="center" border="1">
        <thead>
        <tr >
            <th colspan="1">Title</th>
            <th colspan="1" >Description</th>
            <th colspan="1">Posted Date</th>
            <th colspan="1">Author</th>
            <th colspan="1">Phone</th>
        </tr>
        </thead>
        <tr>
            <td><p th:text="${job.title}"></p></td>
            <td><p th:text="${job.description}"></p></td>
            <td><p th:text="${#dates.format(job.postedDate, 'dd-MMM-yyyy')}"></p></td>
            <td><p th:text="${job.author}"></p></td>
            <td><p th:text="${job.phone}"></p></td>
        </tr>
    </table>
    <br>
<!--    Job Title: <span th:text="${job.title}" ></span>-->
<!--    Description: <p th:text="${job.description}" ></p>-->
<!--    Posted Date: <span th:text="${#dates.format(job.postedDate, 'dd-MMM-yyyy')}"></span>-->
<!--    Author: <span th:text="${job.author}" ></span>-->
<!--    Phone: <span th:text="${job.phone}" ></span>-->
<!--    <a th:href="@{/delete/{id}(id=${job.id})}">Delete this job</a>-->
</div>



<br>
<div class="container" th:fragment="footnote">
    <footer>
        <center>
            <div class="footer-main-div" style="alignment: center">
                <p style="color:greenyellow; ">&copy; Copyright 2019 John Anderjaska.</p>
            </div>
        </center>
    </footer>
</div>

<!--Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>